<div class="object">
    <h2 class="heading">Picked Object</h2>
    <div class="cards">
        <button class="buttoncard">
            Add New Object
        </button>
        <button class="buttoncard ">
            Add New Object
        </button>
        <button class="buttoncard ">
            Add New Object
        </button>
        <button class="buttoncard ">
            Add New Object
        </button>
        <button class="buttoncard ">
            Add New Object
        </button>
        <button class="buttoncard ">
            Add New Object
        </button>
        <button class="buttoncard ">
            Add New Object
        </button><button class="buttoncard ">
            Add New Object
        </button><button class="buttoncard ">
            Add New Object
        </button><button class="buttoncard ">
            Add New Object
        </button><button class="buttoncard ">
            Add New Object
        </button>
    </div>
    <div class="footer">
        Footer
    </div>
</div>